{{!--
This error template is used for the subscription page.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="l-wrapper" data-aos="fade-down">
  <a href="{{@site.url}}" class="m-back">
    <span class="m-back__icon icon-arrow-left"></span>
    <span>{{t "Back to home"}}</span>
  </a>
</div>

<main class="l-fullscreen">
  <section class="l-fullscreen__content in-subscribe-page" data-aos="fade-up" data-aos-delay="300">

  </section>
</main>
