
.m-contribute-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 $mobile-space;
  padding: 15px;
  align-content: space-around;
  justify-content: space-around;
}

.m-contribute-wrap > .left {
  padding: 10px;
}

.m-contribute-wrap > .center {
  padding: 10px;
}

.m-contribute-wrap > .right {
  padding: 10px;
}


@include respond-to('small') {
  .m-contribute-wrap {
    flex-flow: row wrap;
  }
  .m-contribute-wrap > .left {
    order: 1;
    flex: 0.5;
    margin-right: 0;

  }
  .m-contribute-wrap > .right {
    order: 2;
    flex: 0.5;
  }
  .m-contribute-wrap > .center {
    order: 3;
    width: 100%;
  }
}
