
/* ==========================================================================
   14.Search & Subscribe Page
   ========================================================================== */
.search-opened .global-wrap {
    overflow-x: hidden;
    overflow-y: scroll;
}

.section-search,
.search-opened .global-wrap,
.section-page-subscribe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-search,
.section-page-subscribe {
    z-index: 9997;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
}

.search-image,
.page-subscribe-image {
    z-index: 9998;
    background: no-repeat center center;
    background-size: cover;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
}

.section-search,
.search-image {
    -webkit-transition: -webkit-transform .75s ease-in-out;
    transition: -webkit-transform .75s ease-in-out;
    transition: transform .75s ease-in-out;
    transition: transform .75s ease-in-out, -webkit-transform .75s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.search-opened .search-image,
.search-opened .section-search {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.search-wrap,
.page-subscribe-wrap {
    position: relative;
    z-index: -999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 0 5%;
    background: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 60%;
    flex: 1 0 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.search-content,
.page-subscribe-content {
    width: 100%;
    max-width: 900px;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.search-content {
    margin: 140px auto 6vh;
}

.page-subscribe-content {
    margin: 6vh auto 10vh;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-open {
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

.search-open svg {
    width: 21px;
    height: 21px;
    margin: 0 0 -5px 5px;
    list-style: none;
}

.search-close {
    position: absolute;
    z-index: 99999;
    top: 40px;
    right: 40px;
}

.search-close svg {
    width: 37px;
    height: 37px;
    fill: #dcdfe7;
}

.search-featured svg {
    width: 13px;
    height: 13px;
}

.search-open svg,
.search-featured svg {
    fill: #161b3d;
}

.search-open svg,
.search-close svg {
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

/* Header - Search Text Hidden
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-open span {
    display: none;
}

/* Footer - Search Icon Hidden
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section-footer .search-open {
    display: none !important;
}

/* Placeholder
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-input::-webkit-input-placeholder {
    color: #d8dce4;
}

.search-input:-ms-input-placeholder {
    color: #d8dce4;
}

.search-input::-ms-input-placeholder {
    color: #d8dce4;
}

.search-input::placeholder {
    color: #d8dce4;
}

/* Header - Subscriber Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-subscribe-header {
    width: 100%;
    max-width: 900px;
    margin: 5vh auto 0;
    text-align: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.page-subscribe-header a {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.15;
    display: inline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    margin-left: -10px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
}

.page-subscribe-header a::before {
    position: relative;
    top: -7px;
    left: -4px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 6px;
    content: '';
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    border: solid #dcdfe7;
    border-width: 0 5px 5px 0;
}

.page-subscribe-header a:hover::before {
    padding: 6px;
    border-width: 0 5px 5px 0;
}

/* Form - Subscriber Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-subscribe-wrap .subscribe-wrap {
    position: relative;
    width: 100%;
}

/* Error - Subscribe Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.subscribe-error {
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    right: 0;
    bottom: -50px;
    left: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #161b3d;
}

/* Back To Homepage Button - Subscribe Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.subscribe-back-button {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.15;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    margin: 34px 0 0 0;
    padding: 18px 22px;
    cursor: pointer;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    text-decoration: none;
    letter-spacing: 2px;
    border: 7px solid #e2e5ed;
    border-radius: 50px;
    outline: 0;
    background-color: #e2e5ed;
}

.subscribe-back-button:hover {
    color: #fff;
}

/* Form - Search Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-input {
    font-size: 30px;
    font-weight: 700;
    display: block;
    width: 100%;
    min-width: 100px;
    height: 62px;
    padding: 0;
    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease;
    color: #161b3d;
    border-width: 0 0 7px 0;
    border-style: solid;
    border-color: #dcdfe7;
    border-radius: 0;
    outline: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

/* Meta
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-meta {
    font-size: 10px;
    font-weight: 700;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #161b3d;
}

.search-meta .hide {
    display: none;
}

/* Results
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-results h4 {
    font-size: 25px;
    position: relative;
    margin: 45px 0;
    padding: 0;
}

.search-results .search-date {
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: -18px;
    left: 0;
    width: 400px;
    width: 250px;
}

.search-results .search-featured {
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: -17px;
    left: -20px;
}

/* Suggestion
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-suggestion {
    width: 100%;
    margin-top: 8vh;
}

.search-suggestion h3 {
    font-size: 30px;
    width: 87%;
    margin-bottom: 20px;
}

.search-suggestion a {
    font-size: 11px;
    font-weight: 700;
    display: inline-block;
    margin: 8px 5px 1px 0;
    padding: 5px 12px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    border-radius: 20px;
}

.search-suggestion-tags,
.search-suggestion-authors {
    margin: 2vh 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 250px;
    flex: 1 0 250px;
}

.search-suggestion-tags {
    margin-right: 50px;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-footer,
.page-subscribe-footer {
    width: 100%;
    max-width: 900px;
    height: 70px;
    margin: 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.page-subscribe-footer {
    text-align: center;
}

.search-footer a,
.search-footer span,
.page-subscribe-footer a,
.page-subscribe-footer span {
    font-size: 14px;
    display: inline;
}

.search-footer a,
.page-subscribe-footer a {
    font-weight: 700;
}

/* RWD
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:479px) {
    .page-subscribe-wrap .subscribe-wrap {
        padding: 0;
    }

    .subscribe-back-button {
        padding: 14px 17px;
    }

    .search-wrap,
    .page-subscribe-wrap {
        padding: 0 35px;
    }

    .search-content {
        margin-top: 100px;
    }

    .page-subscribe-content {
        margin-top: 20px;
    }

    .search-close {
        top: 37px;
        right: 45px;
    }

    .search-close svg {
        width: 30px;
        height: 30px;
        fill: #dcdfe7;
    }

    .search-input {
        font-size: 16px;
        height: 50px;
    }

    .search-suggestion {
        margin-top: 30px;
    }

    .search-suggestion h3 {
        width: 100%;
    }

}

@media (min-width:480px) and (max-width:767px) {
    .search-wrap,
    .page-subscribe-wrap {
        padding: 0 85px;
    }

    .search-close {
        top: 70px;
        right: 105px;
    }

    .search-close svg {
        width: 30px;
        height: 30px;
        fill: #dcdfe7;
    }

    .search-input {
        font-size: 30px;
        height: 55px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .search-suggestion {
        margin-top: 40px;
    }

    .search-suggestion h3 {
        width: 95%;
    }

}

@media (max-width:767px) {
    .section-search {
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }

    .search-image,
    .page-subscribe-image {
        display: none;
    }

    .search-input {
        font-size: 20px;
        height: 52px;
    }

}

@media (max-width:1023px) {
    .nav-list .nav-list-item.search-open {
        margin: 9px -20px -30px 0;
        padding: 13px 29px 18px 0;
        cursor: pointer;
        border-radius: 0 0 25px 25px;
    }

    .search-open span {
        font-size: 12px;
        display: inline-block;
        padding-right: 2px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #fff;
    }

    .nav-list .nav-list-item.search-open svg {
        margin-bottom: -6px;
        fill: #fff;
    }

}
